# dependencies
node_modules/
.pnp
.pnp.js

# testing / coverage
coverage/
*.lcov

# build outputs
dist/
out/
.next/
.cache/
artifacts/
cache/

# local env files
.env
.env.local
.env.*.local

# misc
.DS_Store
